// Header-top start
#header-top{
    color: #444444 !important;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    .no-gutter{
        margin-left: 0;
        margin-right: 0;
        .rt-tophead-contact ul{
             display: flex;
             justify-content: space-between;
             width: 100%;
             text-align: center;
             margin: 0;
             padding: 0;
          & li:first-child{
            padding-left: 0;
          }
          li{
                 font-size: 15px;
                 margin-right: 0;
                 padding: 12px 0px 12px 20px;
                 color: #646464;
                 display: flex;
                 flex: 1;
                 text-align: left;
                 justify-content: left;
                 line-height: 26px;
                 font-weight: 400;
                 font-style: normal;
                 i{
                    color: $primary-color;
                         margin-right: 10px;
                         margin-top: 5px;
                         font-weight: 900;
                         -webkit-font-smoothing: antialiased;
                         display: inline-block;
                         font-style: normal;
                         font-variant: normal;
                         text-rendering: auto;
                         line-height: 1;
                 }
                 a{
                    color: $body-color;
                    &:visited{
                        @include transition(all 0.3s ease 0s);
                         background-color: transparent;
                    }
                 }
          }
        }
        .tophead-right{
            float: right;
        }
        .header-social-layout1{
                 min-height: 50px;
                 display: flex;
                 align-items: center;
                 justify-content: flex-end;
        .tophead-social{
                 margin: 0;
                 padding: 0;
                 li{
                         display: inline-block;
                         margin-left: 5px;
                         font-size: 16px;
                         line-height: 26px;
                         font-weight: 400;
                         font-style: normal;
                    a{
                             color: #a6b1b7;
                             padding: 1px 8px;
                             background: #f5f8fa;
                             @include transition(all 0.35s ease-in-out);
                             text-align: center;
                             font-size: 16px;
                             display: inline-block;
                             height: 35px;
                             width: 35px;
                             line-height: 35px;
                             border-radius: 50%;
                      &:hover{
                               background-color: $primary-color;
                             }
                        &:hover i{
                            color: white;
                        }     
                        i{
                            color: #8a8a8a;
                            font-weight: 400;
                            @include transition(all 0.35s ease-in-out);
                        }
                    }
                 }
              }
        }
    }
}
// Navbar start
#navbar{
    margin-top: 20px;
  .site-branding{
        @include transition(all 1s ease-out);
        display: table;
        height: 92px;
        max-width: 195px;
        margin-left: 20px;
        a{
            display: table-cell;
            vertical-align: middle;
            background-color: transparent;
            touch-action: manipulation;
            &:visited{
                color: $primary-color;
                @include transition(all 0.3s ease 0s);
                  image{
                    width: auto;
                    padding: 5px 0;
                    max-width: 100%;
                    height: auto;
                    border: 0;
                    vertical-align: middle;
                }
            }
        }
    }
   .header-icon-area{
      float: right;
      padding-left: 25px;
      position: relative;
      font-size: 18px;
   .search-box-area{
      margin-right: 25px;
      position: relative;
      z-index: 2;
      float: right;
      padding-top: 40px;
      padding-bottom: 38px;
      color: #b2b2b2;
      .search-box{
        padding-right: 14px;
        line-height: 1;
        a{
            background-color: transparent;
            &:visited{
                color: $primary-color;
                @include transition(all 0.3s ease 0s);
            }
            i{
                color: $primary-color;
                font-size: 25px;
                font-weight: 700;
            }
        }
      }
   }
   .clear::before{
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
   }
   } 
   .site-navigation{
       .menu-main-primary-container{
           margin-top: 30px;
           display: block;
           margin-left: 100px;
        .menu-main-primary{
            .nav-item{
            display: inline-block;
            position: relative;
            @include transition(all 0.35s ease-in-out);
            padding-left: 20px;
            .sub-menu{
                opacity: 0;
                z-index: 99;
                visibility: hidden;
                position: absolute;
                display: block;
                top: 73px;
                left: -50px;
                float: left;
                min-width: 220px;
                padding: 20px 0;
                margin-top: 0;
                font-size: 14px;
                text-align: left;
                list-style: none;
                background-color: #fff;
                border-top: 1px solid $primary-color;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                border-left: 1px solid rgba(0, 0, 0, 0.15);
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                width: 250px;
                 @include transition(all 0.35s ease-in-out);
                 li:hover{
                   background-color: #fff;
                   display: block;
                   z-index: 99;
                 }
                a{
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22px;
                    color: $title-color;
                    text-transform: none;
                    font-style: normal;
                    margin-left: 20px;
                    padding-left: 15px;
                    line-height: 50px;
                    width: 200px;
                    &:hover{
                        background-color: $primary-color;
                        color: white;
                        display: inline-block;
                        border-radius: 4px;
                        @include transition(all 0.35s ease-in-out);
                    }
                }
            }
            &:hover .sub-menu{
                visibility: visible;
                 opacity: 1;
                 @include transition(all 0.35s ease-in-out);
              }
            .nav-link{
                position: relative;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                color: $title-color;
                text-transform: capitalize;
                font-style: normal;
                display: block;
                @include transition(all 0.3s ease 0s);
                background-color: transparent;
                 &:hover::after{
                    content: "";
                    position: absolute;
                    background-color: $primary-color;
                    left: 20px;
                    right: 0px;
                    top: 70px;
                    bottom: 0;
                    width: 50px;
                    height: 3px;
                    z-index: 99;
                }
            }
           } 
        }
       }
   }
   .apointment-btn{
    background-color: $primary-color;
    border-color: $primary-color;
    padding: 14px 14px;
    color: #fff;
    border-radius: 4px;
    @include transition(all 0.3s ease 0s);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    &:hover{
        background-color: #1c58ef;
    }
   }
}
// Home-intro start
#home-intro{
    .slider{
        position: relative;
        .item{
                z-index: 1;
                opacity: 1;
                @include transition(all 0.3s ease 0s);
                overflow: hidden;
                
                 img{
                    object-fit: cover;
                    max-width: "100%";
                    transform: translateX(-395px) translateY(0px);
                    transform: scale(1.05);
                    height: 740px;
                }
            }
        .owl-nav {
            .owl-next{
                     position: absolute;
                    top: 335px;
                    right:  20px;
                    background-color: #fff;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    box-shadow: 0px 1px 50px 0px rgba(209, 209, 209, 0.75);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 100px;
                    color:$primary-color;
                    @include transition(all 0.5s);
                    z-index: 1;
                    &:hover{
                        background-color: $primary-color;
                        color: white;
                    }
                    &:focus{
                        display: none;
                    }
                }
            .owl-prev{
                position: absolute;
                top: 270px;
                left: 20px;
                background-color: #fff;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary-color;
                box-shadow: 0px 1px 50px 0px rgba(209, 209, 209, 0.75);
                @include transition(all 0.5s);
                font-size: 1.5rem;
                font-weight: 100px;
                z-index: 1;
                &:hover{
              background-color: $primary-color;
              color: white;
                }
                &:focus{
                    display: none;
                }
            }
        }
        
        .text{
            position: absolute;
            top: 150px;
            left: 150px;
            background-color: rgba(57, 108, 240, 0.7);
            border-radius: 5px;
            box-shadow: 0px 1px 50px 0px rgba(209, 209, 209, 0.75);
            padding: 80px 80px 120px 80px;
            z-index: 1;
            &::after{
                content: "";
                background-color: #396cf0a1;
                position: absolute;
                border-radius: 5px;
                top: -30px;
                left: 20px;
                height: 550px;
                width: 600px;
                z-index: -1;
            }
            h2{
            text-align: left;
            font-weight: 900;
            font-style: normal;
            display: block !important;
            transform: translateZ(1px);
            position: static;
            font-size: 40px;
            color: rgb(255, 255, 255);
            line-height: 48px;
            margin: 0px;
            z-index: auto;
            width: 392px;
            height: 96px;
            padding: 0px;
            border-width: 0px;
            border-radius: 0px;
            letter-spacing: 0px;
            filter: none;
            }
            p{
                top: 351px;
                left: 200.5px;
                text-align: left;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                color: rgb(255, 255, 255);
                line-height: 28px;
                margin-top: 20px;
                z-index: auto;
                width: 425px;
                height: 84px;
                padding: 0px;
                border-width: 0px;
                border-radius: 0px;
                letter-spacing: 0px;
                filter: none;
                position: static;
                display: block !important;
                transform: translateZ(1px);
                margin-bottom: 70px;
            }
            a{
                padding: 20px 50px;
                background-color: #fff;
                border-radius: 5px;
                @include transition(all 0.5s);
                &:hover{
                    background-color: $title-color;
                    color: white;
                }
                i{
                    text-align: center;
                    margin-left: 10px;
                    font-weight: 100px;
                }
            }
        }
    }
}  
// Welcome-hospital start
#welcome-hospital{
    padding: 50px;
    background: url("/assets/img/cover.jpg");
    .welcome-hospital-item{
        .img{
            img{
               max-width: 100%;
               transform: scale(1);
            }
        }
        .welcome-content{
            h2{
              color: $title-color;
              font-size: 38px;
              line-height: 1.3em;
              font-weight: 600;
              width: 500px;
              margin-top: 150px;
              margin-bottom: 15px;
            }
            p{
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
                font-style: normal;
                color: $body-color;
                width: 450px;
            }
            .img{
                img{
                    max-width: 100%;
                    transform: scale(0.8);
                    padding-right: 100px;
                }
            }
        }
    }
    .welcome-hospital-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-top: 100px;
        .welcome-hospital-link{
            display: flex;
           flex-direction: column;
           width: 100%;
            a{
                background: linear-gradient(to right, $primary-color,$primary-color);
                color: #fff;
                padding: 30px;
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                position: relative;
                z-index: 2;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                @include transition(all 20s);
                &:hover{
                    background: linear-gradient(to right, #1d5af1, $primary-color);
                    transition: width 2s;
                }
                i{
                    font-size: 30px;
                }
                span{
                    color: #ffffff;
                    font-size: 17px;
                }
            }
            
        }
    }

}
// Services start
#services{
    background: #F5F8FA;
    width: 100%;
    padding: 50px;
    .content{
        position: relative;
        margin-bottom: 35px;
        text-align: center!important;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -24px;
            right: 0;
            height: 4px;
            width: 45px;
            background-color: $primary-color;
            border-radius: 4px;
            margin: 0 auto;
        }
        h4{
            font-size: 16px;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 10px;
            width: 80%;
            text-transform: capitalize;
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        h2{
            text-transform: capitalize;
            font-size: 32px;
            margin-bottom: 15px;
            color: $title-color;
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .services-corusel{
        position: relative;
        .item{
            .department-box{
                text-align: center;
                background-color: #ffffff;
                margin-bottom: 3rem;
                padding: 40px 45px;
                position: relative;
                box-shadow: 0px 1px 0px 0px rgba(227, 227, 227, 0.75);
                @include transition( all 0.3s ease-out);
                border-radius: 8px;
                &:hover{
                    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.2);
                }
                &:hover .item-icon{
                    animation-name: icon-fade;
                    animation-duration: 0.3s;
                    @include transition( all 0.3s ease-out);
                }
                .item-icon{
                    position: relative;
                    margin-bottom: 25px;
                    img{
                        width: inherit !important;
                        display: inherit !important;
                        position: relative;
                        z-index: 9;
                        left: 0;
                        right: 0;
                        margin: auto;
                        height: auto;
                        max-width: 100%;
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
                .item-title{
                    font-size: 22px;
                    margin-bottom: 15px;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: $title-color;
                    margin: 0 0 20px 0;
                    clear: both;
                    a{
                      color: $title-color;
                      @include transition( all 0.5s ease-out);
                      box-shadow: none;
                      background-color: transparent;
                    }
                }
                p{
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    text-rendering: optimizeLegibility;
                    color: $body-color;
                }
            }
        }
        .owl-dots{
            margin-top: 10px;
            text-align: center;
            .owl-dot{
                display: inline-block;
                zoom: 1;
                cursor: pointer;
                user-select: none;
                &.active span{
                    background-color: $primary-color;
                    @include transition( all 0.3s ease-out);
                }
                &:focus{
                    display: none;
                }
             span{
                width: 26px;
                height: 8px;
                margin: 5px 7px;
                display: block;
                transition: opacity .2s ease;
                border-radius: 30px;
                background: #D6D6D6;
                @include transition( all 0.3s ease-out);
                &:hover{
                    background-color: $primary-color;
                    @include transition( all 0.3s ease-out);
                }
             }
            }
        }
    }
}
// Speciality start
  #speciality{
      background-image: url("/assets/img/new-banner.jpg");
      padding: 100px 0;
      .title{
        margin-bottom: 35px;
        position: relative;
        text-align: center!important;
        &::after{
            content: "";
            position: absolute;
            background-color: $primary-color;
            height: 4px;
            width: 45px;
            left: 0;
            bottom: -24px;
            right: 0;
            margin: 0 auto;
            border-radius: 4px;
        }
          h4{
             color: $primary-color;
             font-size: 16px;
             font-weight: 700;
             margin-bottom: 10px;
             text-transform: capitalize;
             float: none;
             margin-left: auto;
             margin-right: auto;
             width: 80%;
          }
          h2{
            color: #ffffff;
            text-transform: capitalize;
            font-size: 32px;
            margin-bottom: 15px;
            float: none;
            margin-left: auto;
            margin-right: auto;
            line-height: 34px;
            font-weight: 700;
            font-style: normal;
          }
      }
      .nav-pills{
        .nav-item{
            position: relative;
            width: 100%;
            border-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            .nav-link{
                @include transition( all 0.3s ease-out);
                color: #fff;
                display: inline-block;
                font-weight: 500;
                border-bottom: 2px solid #2B495F !important;
                font-size: 22px;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
                padding: 30px 5px;
                background: transparent;
                position: relative;
                flex: 1 1 auto;
                border: 1px solid transparent;
                &:hover{
                    border-bottom: 2px solid $primary-color !important;
                    @include transition( all 0.3s ease-out);
                }
                  &.active{
                    border-bottom: 2px solid $primary-color !important;
                    border-radius: 0;
                    @include transition(all 0.3s ease-out);
                    
                  }
                
              }
          }
      }
      .tab-content{
        animation-name: contentUp;
        animation-duration: 1s;
        &.show{
            display: block;
        }
         .tab-panel{
            margin-left: 0;
            margin-right: 0;
            display: flex;
            flex-wrap: wrap;
              .services-tab-content{
                transform: translateY(65px);
                background-color: #fff;
                padding: 75px;
                position: relative;
                width: 110%;
                min-height: 1px;
                  .item-title{
                    font-size: 20px;
                    color: $title-color;
                    position: relative;
                    margin-bottom: 15px;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                  }
                  p{
                    color: $body-color;
                    margin-bottom: 20px;
                    line-height: 1.8;
                    font-size: 16px;
                    font-weight: 400;
                   font-style: normal;
                   text-rendering: optimizeLegibility;
                }
                  .list-info{
                    margin: 35px 0 35px;
                    padding-left: 0;
                     li{
                        margin-bottom: 10px;
                        padding-left: 30px;
                        position: relative;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;
                        font-style: normal;
                        color: $body-color;
                         i{
                            position: absolute;
                            left: 0;
                            top: 2px;
                             color: $primary-color;
                             font-weight: 900;
                             z-index: 1;
                             font-size: 14px;
                         }
                     }
                  }
                  .item-btn{
                      border-color: $primary-color !important;
                      padding: 12px 27px 12px 27px;
                      color: $body-color;
                      align-items: center;
                      @include transition(all 0.3s ease-out);
                      font-size: 14px;
                      border: 1px solid;
                      border-radius: 5px;
                      font-weight: 700;
                      display: inline-block;
                      background-color: transparent;
                      &:hover{
                          background-color: $primary-color;
                          color: #ffffff;
                          @include transition(all 0.3s ease-out);
                      }
                      &:hover i{
                        color: #ffffff;
                        @include transition(all 0.3s ease-out);
                      }
                      i{
                        color: $body-color;
                        margin-left: 7px;
                        @include transition(all 0.3s ease-out);
                      }
                  }
              }
              .item-img{
                transform: translateY(65px);
                position: relative;
                padding-right: 0;
                padding-left: 0;
                  img{
                    width: 100%;
                    height: 584px;
                    max-width: 100%;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    vertical-align: middle;
                  }
                  .vidio-icon{
                         position: absolute;
                         top: 50%;
                         transform: translateY(-50%);
                         left: 0;
                         right: 0;
                        line-height: 1.48;
                      .play-btn{
                          position: absolute;
                          top: 45%;
                          left: 0;
                          right: 0;
                          margin: 0 auto;
                          background-color: $primary-color;
                          color: #ffffff;
                          width: 90px;
                          height: 90px;
                          text-align: center;
                          border-radius: 50%;
                          @include transition(all 0.3s ease 0s);
                          z-index: 2;
                          display: block;
                         &::after{
                              content: "";
                              position: absolute;
                              width: 118px;
                              height: 118px;
                              background-color: rgba(57, 108, 240, 0.4);
                              text-align: center;
                              border-radius: 50%;
                              animation: icon-puls 1s infinite;
                              left: -14px;
                              right: 0;
                              margin: auto;
                              top: -14px;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                width: 106px;
                                height: 106px;
                                background-color: rgba(57, 108, 240, 0.5);
                                text-align: center;
                                border-radius: 50%;
                                left: -8px;
                                right: 0;
                                margin: auto;
                                top: -8px;
                            }
                          i{
                            position: absolute;
                            top: 27%;
                            right: 20px;
                            z-index: 99;
                            @include transition(all 0.5s ease-out);
                            font-size: 40px;
                            text-rendering: auto;
                            display: inline-block;
                          }
                      }
                  }
              }
          }
    }
   .tab-content{
             &.show{
                display: block;
            }
       .achive-content{
        transform: translateY(65px);
        background-color: #fff;
        padding: 80px;
        position: relative;
        width: 100%;
        min-height: 1px;
          .play-btn{
            position: absolute;
            top: 10px;
            left: inherit;
            right: 0;
            line-height: 1.9;
            background-color: $primary-color;
            color: #ffffff;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            @include transition(all 0.3s ease 0s);
            z-index: 2;
            display: block;
            transform: translateY(-50%);
            margin: 0 auto;
            &::after{
              content: "";
              position: absolute;
              width: 78px;
              height: 78px;
              background-color: rgba(57, 108, 240, 0.4);
              text-align: center;
              border-radius: 50%;
              animation: icon-puls 1s infinite;
              left: -4px;
              right: 0;
              margin: auto;
              top: -4px;
            }
            i{
                position: absolute;
                top: 27%;
                right: 15px;
                z-index: 99;
                @include transition(all 0.5s ease-out);
                font-size: 35px;
                text-rendering: auto;
                display: inline-block;
         }
     }
     .item-title{
      font-size: 20px;
      color: $title-color;
      position: relative;
      margin-bottom: 15px;
      line-height: 28px;
      font-weight: 700;
      font-style: normal;
     }
     p{
      color: $body-color;
      margin-bottom: 20px;
      line-height: 1.8;
      font-size: 16px;
      font-weight: 400;
     font-style: normal;
     text-rendering: optimizeLegibility;
     }
     .list-info{
      margin: 35px 0 35px;
      padding-left: 0;
         li{
          margin-bottom: 10px;
          padding-left: 30px;
          position: relative;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          font-style: normal;
          color: $body-color;
             i{
              position: absolute;
              left: 0;
              top: 2px;
               color: $primary-color;
               font-weight: 900;
               z-index: 1;
               font-size: 14px;
             }
         }
     }
     .item-btn{
      border-color: $primary-color !important;
      padding: 12px 27px 12px 27px;
      color: $body-color;
      align-items: center;
      @include transition(all 0.3s ease-out);
      font-size: 14px;
      border: 1px solid;
      border-radius: 5px;
      font-weight: 700;
      display: inline-block;
      background-color: transparent;
      &:hover{
          background-color: $primary-color;
          color: #ffffff;
          @include transition(all 0.3s ease-out);
      }
      &:hover i{
        color: #ffffff;
        @include transition(all 0.3s ease-out);
      }
         i{
          color: $body-color;
          margin-left: 7px;
          @include transition(all 0.3s ease-out);
         }
     }
       }
   }
   .tab-content{
       &.show{
        display: block;
    }
      .content{
        transform: translateY(65px);
        background-color: #fff;
        padding: 75px;
        position: relative;
        width: 562px;
        min-height: 1px;
           .item-title{
            font-size: 20px;
            color: $title-color;
            position: relative;
            margin-bottom: 15px;
            line-height: 28px;
            font-weight: 700;
            font-style: normal;
           }
           p{
            color: $body-color;
            margin-bottom: 20px;
            line-height: 1.8;
            font-size: 16px;
            font-weight: 400;
           font-style: normal;
           text-rendering: optimizeLegibility;
           }
           .item-btn{
            border-color: $primary-color !important;
            padding: 12px 27px 12px 27px;
            color: $body-color;
            align-items: center;
            @include transition(all 0.3s ease-out);
            font-size: 14px;
            border: 1px solid;
            border-radius: 5px;
            font-weight: 700;
            display: inline-block;
            background-color: transparent;
            &:hover{
                background-color: $primary-color;
                color: #ffffff;
                @include transition(all 0.3s ease-out);
            }
            &:hover i{
              color: #ffffff;
              @include transition(all 0.3s ease-out);
            }
            i{
              color: $body-color;
              margin-left: 7px;
              @include transition(all 0.3s ease-out);
            }
               i{
                color: $body-color;
                margin-left: 7px;
                @include transition(all 0.3s ease-out);
               }
           }
       }
      .item-img{
        transform: translateY(65px);
        position: relative;
        padding-right: 0;
        padding-left: 0;
          img{
            width: 100%;
            height: 568px;
            max-width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
            vertical-align: middle;
          }
          .vidio-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
           line-height: 1.48;
              .play-btn{
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: $primary-color;
                color: #ffffff;
                width: 90px;
                height: 90px;
                text-align: center;
                border-radius: 50%;
                @include transition(all 0.3s ease 0s);
                z-index: 2;
                display: block;
               &::after{
                    content: "";
                    position: absolute;
                    width: 118px;
                    height: 118px;
                    background-color: rgba(57, 108, 240, 0.4);
                    text-align: center;
                    border-radius: 50%;
                    animation: icon-puls 1s infinite;
                    left: -14px;
                    right: 0;
                    margin: auto;
                    top: -14px;
                  }
                  &::before{
                      content: "";
                      position: absolute;
                      width: 106px;
                      height: 106px;
                      background-color: rgba(57, 108, 240, 0.5);
                      text-align: center;
                      border-radius: 50%;
                      left: -8px;
                      right: 0;
                      margin: auto;
                      top: -8px;
                  }
                  i{
                    position: absolute;
                    top: 27%;
                    right: 20px;
                    z-index: 99;
                    @include transition(all 0.5s ease-out);
                    font-size: 40px;
                    text-rendering: auto;
                    display: inline-block;
                  }
              }
          }
      } 
   }
}
@keyframes icon-fade {
    0% {
      transform: translateY(-2000px);
    }
  
    100% {
        transform: translateY(0);
    }
  }

@keyframes icon-puls {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

  @keyframes contentUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }